<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="skillcourt.skillcourt">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Skill Court"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="Skill Court">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreen"
            android:label="Skill Court">
            <intent-filter>
                <action android:name="skillcourt.skillcourt.MAINSCREEN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".HighScoresScreen"
            android:label="High Scores">
        </activity>
        <activity
            android:name=".DevicesScreen"
            android:label="Devices">
        </activity>
        <activity
            android:name=".StartScreen"
            android:label="Start">
        </activity>
        <activity
            android:name=".AddScreen"
            android:label="Add">
        </activity>
        <activity
            android:name=".RemoveScreen"
            android:label="Remove">
        </activity>
        <activity
            android:name=".ShowScreen"
            android:label="List of Raspberry Pi&apos;s">
        </activity>
        <activity android:name=".EditScreen"
                  android:label="Edit">
        </activity>
    </application>

</manifest>